#box {
		background-color:#B3B3B3; width: 90%; margin-top: 100px; margin-left: auto; margin-right: auto; padding-top: 50px;
	}
	td.side {
		background-color:#F0F0F0; border:#F4F5F5; border-style:solid; padding-left: 10px; padding-right: 10px; vertical-align: top;
	}
	#graphTop {
		background-color:white; width: 60%; height: 275px;
	}
	#graphBot {
		background-color:#B3B3B3; width: 60%;
		margin-left: -10px;
		margin-right: auto;
		position: absolute;
		top: 127%;
	}
	#graphBot img {
		padding: 15px;
		width: 74.5%;
		filter:alpha(opacity=80);
		position: absolute;
	}
	.news {
		display:block;
		background-color:#777777;
		/*#000033*/
		padding: 5px;
		font-size: 11.7px;
	}
	.news a{
		text-decoration: none;
		font-family:"Verdana", Verdana, sans-serif;
		color:white;
		font-size: 15px;
	}
	.news a:hover {
		color:red;
	}
	#barackswrap{position: relative; width: 250px; overflow:hidden;}
	#barackswrap img {margin-left: -40px;}
	/*All Relative Positioning*/
	/*#barackswrap{position: relative; width: 90%; overflow:hidden;}
	#CommentFeed{width: 45%; height: 50%; background: white; z-index:4; position: absolute; top: 23%; right: 24.25%;}
	
	#prettycomment{z-index: 7; background-color: white; position: absolute; top:-170px; height: 10%; width: 100%;}
	#prettycomment a{padding-left: 40px; text-align: center; text-decoration: none; color: black; font-size: 22px; font-family:Arial, Helvetica, sans-serif; font-weight:800; text-align: center;}
	#prettycomment a:hover {opacity: .5;}
	#Post_a_Comment{display:none}
	#graybox{background: #eeeeed; width: 90%; height: 90%; margin: 15px;}
	#prettycomment:hover #Post_a_Comment form{font-family: Arial, Helvetica, sans-serif; font-weight: 900; display: block; padding: 20px; padding-left: 35px; position: absolute; top: 0%; left: 0px; }
	#prettycomment:hover #Post_a_Comment{border-style:solid; border-width:2px; border-color:#eeeeed; display: block; background-color:white; position: inherit; right: 0%; top: 105%; width: 100%; height: 300%; }
	#reading_box{width: 200px; height: 300px; background: yellow; z-index:5; position: absolute; top: 10%; right: 0%;}
	#reading_box{text-decoration: none; color: black; font-size: 17px; position: absolute; top: 30%;}
	#reading_box a:hover {opacity: .5;}
	
	#comments{position: relative; top: 10%; font-weight:800; background-color:#eeeeed; font-family: Arial, Helvetica, sans-serif; font-size: 16px; width: 100%; height: 10%; padding-top: 15px;}
	#graphbox{position: relative; top: 50%; left: 0%;}*/
	
	/*All Absolute Positioning*/
	#CommentFeed{width: 600px; height: 620px; background: white; z-index:4; position: absolute; top: 35%; right: 24.25%;}
	
	#prettycomment{z-index: 7; background-color: white; position: absolute; top: -391px; height: 70px; width: 600px;}
	#prettycomment a{padding-left: 30px; text-align: center; text-decoration: none; color: black; font-size: 25px; font-family:Arial, Helvetica, sans-serif; font-weight:800; text-align: center;}
	#prettycomment a:hover {opacity: .5;}
	#Post_a_Comment{display:none}
	#graybox{background: #eeeeed; width: 90%; height: 90%; margin: 15px;}
	#prettycomment:hover #Post_a_Comment form{font-family: Arial, Helvetica, sans-serif; font-weight: 900; display: block; padding: 20px; padding-left: 35px; position: absolute; top: 0%; left: 0px; }
	#prettycomment:hover #Post_a_Comment{border-style:solid; border-width:2px; border-color: #eeeedd; display: block; background-color:#FFFFF0; position: inherit; right: 0%; top: 105%; width: 100%; height: 300%; }
	#reading_box{width: 200px; height: 300px; background: yellow; z-index:5; position: absolute; top: 10%; right: 0%;}
	#reading_box{text-decoration: none; color: black; font-size: 17px; position: absolute; top: 30%;}
	#reading_box a:hover {opacity: .5;}
	
	#comments{position: absolute; top: -270px; right: -565px; font-weight:800; background-color:#eeeeed; font-family: Arial, Helvetica, sans-serif; font-size: 16px; width: 500px; height: 520px; padding-left: 30px; padding-top: 15px;}
	#graphbox{position: absolute; top: 50%; left: 0%;}
	
	
	h1{font-size: 22px;}
	h3{position: relative;}
	table.cooltable{height: 1100px; }
