body {
			background-color: #e8ebec;			
		}
p {
	font-family: Impact, fantasy;
	font-size:40px;
	color: #F0F0F0;
	text-align:center;
	display:block;
	background-color: #696969;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 10px black;
	margin-left: 10px;
	margin-right: 10px;
}
		#wrapper {
			border: 1px solid gray;
			width: 800px;
			height: 800px;
			margin-left: auto;
			margin-right: auto;
			background-color: #f4f5f5;
			border-radius: 5px;
			-moz-border-radius: 5px;
			-webkit-border-radius: 5px;
			box-shadow: 3px 3px 5px black;
		}

div.img
  {
  margin:2px;
  border:1px solid black;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
box-shadow: 3px 3px 5px black;
background-color: #b8b8b8;
  height:auto;
  width:auto;
  float:left;
  text-align:center;
  width: 15.9%;
  overflow:hidden;
  }
div.img img
  {
  display:inline;
  margin: 0 0 0 -120px ;
  border:1px solid #ffffff;
  }
/*div.img img:hover
  {
  border:3px solid #ffffff;
  opacity:0.4;
filter:alpha(opacity=40);
width:200px;
  }*/
div.img:hover
  {
  border:3px solid #ffffff;
  opacity:0.4;
filter:alpha(opacity=40);
width:200px;
  }
div.desc
  {
  display:block;
  font-family: Impact, Charcoal, sans-serif;
  font-weight:normal;
  font-size: 25px;
  width:auto;
  text-align:center;
  margin:2px 2px 2px -80px;
  height:200px;
 -webkit-transform: rotate(90deg); 
-moz-transform: rotate(90deg);	
  }

