body{
	/*background: #faf8cc;*/
	background: #150517;
}
#line{position: absolute; top: 70px; left: 1px;}
li{font-family: Impact, Charcoal, sans-serif; font-size: 20px}
#large_box{position: absolute;left: 25px; top:35px; height:1500px; width: 97%;padding: 0px;background: #cccccc;box-shadow: 3px 3px 5px black;border-radius: 10px;-webkit-border-radius: 10 px;}
#header{height: 175px;background: white; -webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;}
#smallheader{height: 82px; width: 1108px; position: absolute; top: 0px;left: 200px; background: #CD0A0A; -webkit-border-top-right-radius:10px}
#logo_box{height: 200px; width: 300px;position: absolute; top: -115px;left: -90px;}
#flag_box{position: absolute; top: 174px;}
#login_box{background color:#444444;}

#navigation_bar {padding: 7.5px; width: 575px;height: 30px;position:absolute;top:-15px;right:50px;border-radius: 5px;background-color: #444444;box-shadow: 3px 3px 5px black;-moz-border-radius: 5px; -webkit-border-radius: 5 px;float: none;}
#navigation_bar ul {padding: 2px; height: 10px;list-style-type: none; word-spacing: 6px; white-space: nowrap; text-align: center;background-color: #444444; position:absolute; right:30px;top:-7.5px;}
#navigation_bar ul li {display: inline; float: left;}
#navigation_bar ul li a {text-decoration: none; padding:8px 15px; color: #FFFFFF;} 
#navigation_bar ul li a:hover {color: #FF0000;}
#navigation_bar ul li ul{display: none;}
#navigation_bar ul li form{display: none;}
#navigation_bar ul li:hover ul{display: block; position: inherit; height: 135px;width: 165px; box-shadow: 3px 3px 5px black;border-radius: 5px;-webkit-border-radius: 5 px;}
#navigation_bar ul li:hover form{display: block;position: absolute; background color: #444444; top:35px; right: -60px;color:#FFFFFF;height: 100px;width: 300px; box-shadow: 3px 3px 5px black;border-radius: 5px;-webkit-border-radius: 5 px;}


