body{
	/*background: #faf8cc;*/
	background: #000033;
}
/*#line{position: absolute; top: 70px; left: 1px;}*/

li{font-family: Impact, Charcoal, sans-serif; /*Arial, Helvetica, sans-serif;*/ /*lucida,tahoma,verdana;*/ font-size: 22px}
/*#header{height: 125px;background-image: url('backgroundheader.png'); width: 100%; /*-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;*/
#large_box{z-index: -1; position: absolute; top:17%;left: 10%; height:1000px; width: 80%;background: #F8FFFF; padding: 0px;box-shadow: 3px 3px 5px black;/*border-radius: 10px;-webkit-border-radius: 10 px;*/}
#smallheader{ box-shadow: 3px 3px 5px black; background-image: url('backgroundheader.png'); height: 125px; width: 100%; position: absolute; top: 0px;left: 0px; /*background-image: url('backgroundheader.png'); /*-webkit-border-top-right-radius:10px*/}
#logo_box{height: 130px; width: 200px;position: absolute; top: -250%;left: 5%;}
#flag_box{position: absolute; top: 0%; width: 100%; opacity: .1;}
#welcome{ position: absolute; left: 300px; top: -25px; font-family: Impact, Charcoal, sans-serif; font-size: 30px;}

#line{ height: 3px; position:absolute; top: 15%; right: 0%; width: 100%;  }
#login{ z-index: 3; font-family: Arial, Helvetica, sans-serif; font-size: 15px; padding: 5px; position: absolute; top:25%; right: 20%; box-shadow: 3px 3px 5px black; background-color: #BB0000; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px;}
#login a {text-decoration: none; color: black;z-index: 2;}
#login_box{display: none;}
#login a:hover {opacity:.6; }
#login:hover #login_box { display: block; z-index:3; background-image: url('dropdown.png');border-radius: 5px; padding: 10px; box-shadow: 3px 3px 5px black;}

#title_wrap{position:absolute; top: -10%;right: -10%; background-image: url('backgroundheader.png');}
#accordian_box{position:absolute; top: -15%; right: -10%;}

#navigation_bar {padding: 7.5px; width: 100%; height: 20px; position:absolute;top:67%;right:0px;border-top-style: solid; border-width: 1px; float: none;}
#navigation_bar ul.nav_bar{position:absolute; left: 0%; top: -50%; width: 40%;padding-left: 20%; padding-right: 10%; height: 10px;list-style-type: none; word-spacing: 6px; white-space: nowrap; text-align: center; }
#navigation_bar ul.nav_right{position:absolute; right: 0%; top: -50%; width: 20%; padding-left: 20%; padding-right: 10%; height: 10px;list-style-type: none; word-spacing: 6px; white-space: nowrap; text-align: center; }
#navigation_bar ul li.nav_bar{float: left; width: 125px; display: inline; border-style: solid; border-width: 1px; padding-top: 1.3%; padding-bottom: 0%; background-image: url('lilback.png');}
#navigation_bar ul li.nav_right{float: right; display: inline; border-style: solid; border-width: 1px; padding-top: 3%; padding-bottom: 2.7%; background-image: url('lilback.png');}
#navigation_bar ul li a {text-decoration: none; padding:8px 15px; color: #BB0000;} 
#navigation_bar ul li a:hover {background-image: url("lilback.png"); opacity:.4;}
#navigation_bar ul li ul{display: none; background-image: url('lilback.png');padding: 1px; border-style: solid; border-width:1px; margin-top: 0px;}
#navigation_bar ul li ul li{border-style: none;list-style: none; float: left;padding-top: 6px;}
#navigation_bar ul li form{display: none;}
/*#navigation_bar ul li:hover ul{background-image: url('lilback.png'); display: block; height: 170px;width: 165px; box-shadow: 3px 3px 5px black; position: relative; top: -50%;}*/
#navigation_bar ul li:hover ul{background-image: url('lilback.png'); display: block; height: 170px;width: 175px; box-shadow: 3px 3px 5px black; position: relative; top: -50%;}
#navigation_bar ul li:hover form{display: block;position: inherit; background-image: url('dropdown.png'); height: 100px;width: 300px; box-shadow: 3px 3px 5px black;border-radius: 5px;-webkit-border-radius: 5 px;}
#page{z-index: -1; position: absolute; top:17%;left: 10%; height:1000px; width: 80%;background: #F8FFFF; padding: 0px;box-shadow: 3px 3px 5px black;/*border-radius: 10px;-webkit-border-radius: 10 px;*/}

#comment_box{ background-color: #FFFFF0;font-family: Arial, Helvetica, sans-serif; font-size: 15px; padding: 5px; position: absolute; top: 30%; right: 0%; width: 7%; height: 5%; border-style: solid; border-width:1px; border-top-left-radius: 5px;border-bottom-left-radius: 5px;}
#Post_a_Comment{display: none;}
#comment_box a {text-decoration: none; color: black; font-size: 17px; position: absolute; top: 30%;}
#comment_box a:hover {opacity: .5;}
#comment_box:hover #Post_a_Comment form{padding: 10px;}
#comment_box:hover #Post_a_Comment {background-color:#FFFFF0; display: block; position: inherit; right: 18%; width: 500%; height: 300%; border-style: solid; border-width: 1px;}
#graphbox{position: absolute; top: 50%; left: 0%;}
